name: unit testing and code coverage

on: 
    pull_request

jobs:
    build: 
        permissions:
            checks: write
            pull-requests: write
            contents: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6.0.0
            - uses: actions/setup-node@v5
              with:
                node-version: 25
            - run: npm ci
            - run: npm test
            - uses: ArtiomTr/jest-coverage-report-action@v2
